<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="LightFarsiDictionary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="dicenfaConnectionString" connectionString="data source==|DataDirectory|dicenfa.db;Default Timeout=30"/>
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
 <userSettings>
  <LightFarsiDictionary.Properties.Settings>
   <setting name="SendToSysTray" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="KeyboardShortcut" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="KeyboardTextToSpeech" serializeAs="String">
    <value>True</value>
   </setting>
  </LightFarsiDictionary.Properties.Settings>
 </userSettings>
</configuration>
